.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    border-bottom: 2px solid #a06e10;
    background-color: burlywood;
    align-items: center;
    position: relative;
    box-sizing: border-box;
  }
  
  .header-options{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
  }
  
  .header-option-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  .profile-option-container{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  }
  
  .header-option-text{
    font-size: 1rem;
    color: brown;
    text-align: center;
    padding: 2rem ;
    font-weight: bold;
    text-transform: capitalize;
  }
  .header-option-container:hover .header-option-text{
    color: #9b4d96;
    transform: scale(1.05);
  }
  .profile-option-container:hover .header-option-text{
    color: #9b4d96;
    transform: scale(1.05);
  }

  .money{
    position: relative;
    align-items: center;
    justify-content: center;
    size-adjust: 80%;
    }