*{
    font-family: 'Times New Roman', Times, serif;
}

html, body{
    background-color: lightgoldenrodyellow;
}


.home-page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: lightgoldenrodyellow;
}

.home-page-container .maintitle{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 0;
    background-color: burlywood;
}

.maintitle{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    text-align: center;
    border-style: groove;
    padding: 10px;
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
}

.home-page-container .maintitle{
    margin-top: 0;
}

#AboutInfo{
    font-size: 2vh;
    text-align: center;
    width: 70%;
    background-color: blanchedalmond;
    padding: 20px; 
    border-radius: 10px; 
    border: 1px solid #000000;
}

