*{
    font-family: 'Times New Roman', Times, serif;
    
}

html, body{
    background-color: lightgoldenrodyellow;
}


.login-page-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-color: lightgoldenrodyellow;
    padding-top: 0;
    margin-top: 0;
}

.login-page-container .maintitle{
    margin-top: 0;
}

.maintitle{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    text-align: center;
    border-style: groove;
    padding: 10px;
    width: 100%;
    background-color: burlywood;
    box-sizing: border-box;
}

#about{
    background-color: burlywood;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 10px;
    border: 1px solid #000000;
}

.form-container{
    background-color: burlywood;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border: 1px solid #000000;
}

#usernamecss{
    background-color: transparent;
    margin-bottom: 15px;
}
#passwordcss{
    background-color: transparent;
    margin-bottom: 15px;
}
#submitbutton input[type="submit"]{
    background-color: black;
    color: black;
    padding: 12px 24px;
    font-size: 2vh;
    border: 2px solid;
    border-radius: 12px;
    cursor: pointer;
    width: 80%;
    transition: background-color 0.3s ease;
    border: 1px solid #000000;
}
#submitbutton input[type="submit"]:hover{
    background-color: lightgoldenrodyellow;
}